#ignorar archivos de compilación
node_modules/

#ignorar archivos de IDE
.vsCode/

#ignorar reportes
report_results/
allure-results/
allure-report/

#ignorar archivos de videos, screenshots o descargas
video/
screenshots/
downloads/